@import url('https://fonts.googleapis.com/css?family=Roboto:100');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header img {
    width: 100px;
    margin-left: 40px;
    margin-top: 40px;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color:#fff;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box ;
    font-size: 17px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: rgba(29, 160, 116, .8);
    font-weight: bold;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#boton:hover {
    cursor: pointer;

}

@media screen and (max-width: 500px){
    form{
        width: 100%;
    }
}










