@import url('https://fonts.googleapis.com/css?family=Roboto:100');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: rgb(250, 249, 249);
}

header {
    width: 100%;
}

header img {
    width: 100px;
    margin-left: 40px;
    margin-top: 40px;
}


.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}

.formulario__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}



.formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size:  1.3em;
}


.formulario__input{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario__input:focus{
    outline: 1px solid rgba(29, 160, 116, .8);
}

.formulario__input:focus  + .formulario__label{
    margin-top: -130px;
    
}



.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5) ;
    transition: all 0.2s;
}

.formulario__submit{
    background:#1da074;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px;
}










