* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



header {
    width: 100%;
}

header img {
    width: 100px;
    margin-left: 40px;
    margin-top: 40px;
}



.contenedor-form {
    background: rgb(250, 249, 249);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: rgb(10, 9, 9);
    position: relative;
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #1da074;
    border-bottom: 2px solid #1da074;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid rgba(29, 160, 116, .8);
    border-bottom: 2px solid rgba(29, 160, 116, .8);
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(252, 249, 249, 0.959);
    color: rgba(29, 160, 116, .8);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid ;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #1da074;
}

.contenedor-form input[type="submit"] {
    background: #1da074;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #1da074(71, 247, 21);
}

.contenedor-form .reset-password {
    background: #1da074;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}